@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS&family=Protest+Strike&family=Raleway:ital,wght@1,500&family=Ysabeau+Infant:ital,wght@1,800&display=swap');
@font-face {
    font-family: ravie;
    src: url(../assets/fonts/RAVIE.TTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ysabeau Infant", sans-serif;
}
body{
    background-image: url(../assets/img/fondo3.jpg);
    background-color: #dbbafa;
    font-size: 16px;
}
header{
    background-color: #f7abff9a;
    font-size: 2em;
    .navbar-collapse {
        flex-basis: 1000%;
        flex-grow: 0;
        align-items: center;
    }
    .navbar>.container-fluid{
        justify-content: center;
    }
    .navbar-nav {
        --bs-nav-link-color: #d80177;
        --bs-nav-link-hover-color: #8b024e;
    }
    .navbar-nav .nav-link.active {
        color: #8b024e;
    }
    /*z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    /*background: #d15eff;
    background: linear-gradient(180deg,#b701ff 0%, #b701ff38 100%);
    position: sticky;
    img{
        height: 20vh;
    }
    nav{
        ul{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                border-color: #d15eff;
                height: 5vh;
                width: 32vh;
                /*background-color: #d892f3;
                box-shadow: 0px 0px 66px 19px rgba(157,70,224,0.62);;
                border-radius: 5vh;
                a{
                    text-decoration: none;
                    text-align: center;
                    font-size: 1.5em;
                    color: #e4c7ff;
                }
                .ancla:hover{
                    font-size: 1.8em;
                    transition: all .5s ease-in-out;
                    color: #e4c7ff;
                }
            }
        }
    }*/
}
main{
    p{
        font-size: 1.5rem;
        padding: 5vh 18vh;
        padding-bottom: 0;
        text-align: justify;
        color:#ff46ac;
    }
    h3{
        font-size: 3em;
        color: #ff46ac;
        padding: 0;
        text-align: center;
        padding-bottom: 1vh;
    }
    .galeria{
        width: 90%;
        margin:0 auto;
        height: 80vh;
        background-color: #ffffff00;
        display: flex;
        justify-content: center;
        align-items: center;
        /*border:0.5px solid #b701ff;*/
        box-shadow: 0px 0px 10px 10px rgba(245,0,252,0.48);
        border-radius: 3vh;
        img{
            width: 0px;
            height:100%;
            flex-grow: 1;/*que dentro de la caja flexible ocupe todo el espacio que pueda*/
            object-fit: cover;
            opacity: .8;
            transition: .5s ease;
            border-radius: 3vh;
        }
    }
    .galeria img:hover{
        width: 30%;
        opacity: 1;
        filter:contrast(140%);
    }
    .titulo{
        padding-top: 5vh;
        font-family: ravie;
        font-size: 7em;
        text-align: center;
        color: #c23af8;
    }
    .subTitulo{
        font-size: 2em;
        text-align: center;
        color: #c23af8;
    }
    .secCarousel{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2vh;
        img{
            border-radius: 3vh;
        }
        p{
            padding: 0 10vh;
            text-align: center;
        }
    }
    .divSecCarousel{
        padding-top: 2vh;
        margin: 0vh 30vh;
        p {
            font-size: 1.7rem;
            padding: 2vh 0vh;
            padding-bottom: 0;
            text-align: center;;
            color: rgb(255, 252, 58);
        }
        .pSecCaro{
            padding-bottom: 55vh;
            color: rgb(250, 27, 194);
        }
    }
    .secCarouselOpinionesPc{
        padding-top: 7vh;
        h3{
            font-size: 2.5em;
        }
        .row{
        justify-content: center;
        }
    }
    .secCarouselOpinionesMobil{
        display: none;
    }
    .carouselVentaCelular{
        display: none;
    }
    .carouselVenta{
        margin: 0vh 10vh;
        h5{
            text-align: center;
        }
        p{
            padding: 0;
            font-size: .8rem;
            text-align: center;
        }
        h3{
            padding-top: 7vh;
        }
        img{
            height: 30vh;
            width: auto;
            object-fit: cover;
            border-radius: 3vh;
        }
        .row-cols-1{
            height: 75vh;
        }
        .card{
            background-color: #ffffff8f;
            border-radius: 3vh;
        }
        .card-body {
            flex:auto;
            padding: 0 1vh;
        }
        .carousel{
            padding: 0vh 15vh;
        }
        .carousel-control-next, .carousel-control-prev {
            width: 5%;
            background: #c23af8;
            border-radius: 3vh;
        }
        .valor{
            font-family: "Raleway", sans-serif;
            text-align: center;
            color:#b701ff;
            font-size: 1.8rem;
        }
        .precio{
            font-size: 1rem;
        }
        .agregarCarrito{
            --bs-btn-color: #ffffff;
            --bs-btn-bg: #06bb00;
            --bs-btn-border-color: #09ff00;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg:#08cc01;
            --bs-btn-hover-border-color: #09ff00;
        }
        .card-footer{
            display: flex;
            justify-content:space-evenly;
        }
        .flexDistr{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .cabeceraProductos{
        padding: 2vh 10vh;
        padding-top: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            margin: 0;
            padding: 0 5vh;
            text-align: center;
        }
        img{
            width: 40%;
            border-radius: 5vh;
        }
    }
    .listaProductos{
        .bebotes, .accesorios{
            padding: 1vh 10vh;
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
        .card{
            width: 40vh;
            background-color: #d15eff1e;
            box-shadow: 0px 0px 10px 10px rgba(245,0,252,0.48);
            /*border-color: #d80177;*/
            border-radius: 3vh;
            margin: 2vh;
            padding: 1vh;
            h5{
                text-align: center;
            }
            p{
                padding: 0;
                font-size: 1rem;
                text-align: center;
            }
            img{
                height: 30vh;
                width: auto;
                object-fit: cover;
                border-radius: 3vh;
            }
            .valor{
                margin: 0;
                color:#8b024e;
                font-size: 2rem;
                .precio{
                    font-size: 1rem;
                }
            }
            .flexDistr{
                display: flex;
                flex-direction: column;
                justify-content:space-between;
            }
        }
        .card-body {
            padding: 0 1vh;
            height: 40vh;
        }
        .card-footer{
            display: flex;
            justify-content: space-evenly;
        }
        .btn-primary{
            margin: .5vh;
            font-size: 1rem;
        }
        .agregarCarrito{
            background-color: #06bb00;
        }
        .comprar{
            background-color: #6b6eff;
        }
    }
}
footer{
    .footerCompleto{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient(180deg,rgba(0,255,0,0) 0%, #d15eff 90%);
        height: 30vh;
        padding-top: 5vh;
        h4{
            font-family: "Playwrite AU TAS", serif;
            font-size: .8em;
            color: #d80177;
        }
        img{
            width: 15vh;
        }
        nav{
            padding-top: 4vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
        .redes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .iconosRedes{
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 1vh;
        }
        .fa-instagram{
            font-size: 3em;
            color: #ff008c;
        }
        .fa-facebook{
            font-size: 2.5em;
            color: #3c49ff;
        }
        .fa-whatsapp{
            position: fixed;
            right: 3vh;
            bottom: 12vh;
            font-size: 3em;
            color: #5dbd04;
            backdrop-filter: blur(10px);
        }
        .fa-circle-chevron-up{
            position: fixed;
            right: 3vh;
            bottom: 2vh;
            font-size: 2.5em;
            color: #fc1594;
            backdrop-filter: blur(10px);
        }
        .btnMailDir{
            display: flex;
            flex-direction: column;
            align-items: center;
            address{
                font-size: 1.2rem;
                padding-top: 1vh;
            }
        }
    }
    .finalAutor{
        width: 100%;
        background-color: #d15eff;
        a{
            margin: 0;
            font-size: .7em;
            text-align: left;
            text-decoration: none;
            color: #000;
        }
        .derechos{
            margin: 0;
            font-size: 1em;
            text-align: center;
            color: #fc1594;
        }
    }
}
@media screen and (max-width: 767px){
    *{
        font-size: 10px;
    }
    header{
        font-size: 2em;
        img{
            width: 10vh;
        }
        .navbar>.container-fluid{
            justify-content:space-around;
        }
        .navbar-toggler-icon {
            width: 4em;
            height: 4em;
        }
        .nav-link {
            font-size: 3em;
        }
    }
    main{
        p{
            font-size: 1.7em;
            padding: 5vh 5vh;
            padding-bottom: 0;
        }
        .galeria{
            flex-wrap: wrap;
            border-radius: 3vh;
        }
        .galeria img:hover{
            width: 70%;
            border-radius: 3vh;
            
        }
        .divSecCarousel{
            margin: 0 1vh;
            padding-top: 0;
        }
        .secCarousel{
            padding-top: 2vh;
            img{
                border-radius: 3vh;
            }
        }
        .secCarouselOpinionesPc{
            display: none;
        }
        .carouselVenta{
            display: none;
        }
        .carouselVentaCelular{
            display: flex;
            flex-direction: column;
            margin: 0vh 1vh;
            h5{
                text-align: center;
                font-size: 2rem;
            }
            p{
                padding: 0;
                font-size: 1rem;
                text-align: center;
            }
            h3{
                padding-top: 7vh;
            }
            img{
                height: 40vh;
                width: auto;
                object-fit: cover;
                border-radius: 3vh;
            }
            /*.row-cols-1{
                height: 75vh;
            }*/
            .card{
                background-color: #ffffff8f;
                border-radius: 3vh;
            }
            .card-body {
                flex:auto;
                padding: 0 1vh;
                height: 25vh;
            }
            .carousel{
                padding: 0vh 6vh;
            }
            .carousel-control-next, .carousel-control-prev {
                width: 10%;
                background: #c23af8;
                border-radius: 2vh;
            }
            .valor{
                font-family: "Raleway", sans-serif;
                text-align: center;
                color:#b701ff;
                font-size: 3rem;
            }
            .precio{
                font-size: 1rem;
            }
            .agregarCarrito{
                --bs-btn-color: #ffffff;
                --bs-btn-bg: #06bb00;
                --bs-btn-border-color: #09ff00;
                --bs-btn-hover-color: #fff;
                --bs-btn-hover-bg:#08cc01;
                --bs-btn-hover-border-color: #09ff00;
            }
            .card-footer{
                display: flex;
                justify-content:space-evenly;
            }
            .flexDistr{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .btn {
                --bs-btn-font-weight: 400;
                --bs-btn-line-height: 3;
                --bs-btn-border-radius: 1.5rem;
                --bs-btn-padding-x: 1rem;
                --bs-btn-padding-y: 0.5rem;
                --bs-btn-font-size: 1.5rem;
            }
        }
        .secCarouselOpinionesMobil{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 5vh;
            h3{
                font-size: 2em;
            }
        }
        .cabeceraProductos{
            padding: 1vh 0vh;
            padding-top: 3vh;
            display: flex;
            flex-direction:column-reverse;
            p{
                margin: 0;
                padding: 0 5vh;
                text-align: justify;
            }
            img{
                width: 90%;
                border-radius: 5vh;
            }
        }
        .listaProductos{
            .bebotes, .accesorios{
                padding: 1vh 1vh;
                flex-direction: column;
                justify-content: center;
            }
            .card{
                width: 50vh;
                h5{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.5rem;
                }
                img{
                    height: 30vh;
                }
                .valor{
                    font-size: 3rem;
                }
            }
            .card-body {
                padding: 0 0vh;
                height: 30vh;
            }
            .card-footer{
                flex-direction: column;
                justify-content: center;
            }
            .btn-primary{
                margin: 1vh;
                font-size: 1.5rem;
            }
        }
    }
    footer{
        .footerCompleto{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: linear-gradient(180deg,rgba(0,255,0,0) 0%, #d15eff 90%);
            height: auto;
            padding-top: 5vh;
            h4{
                font-size: 2em;
            }
            img{
                width: 10vh;
            }
            nav{
                ul{
                    li{
                        a{
                            font-size: 3em;
                        }
                    }
                }
            }
            .redes{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .iconosRedes{
                width: 70%;
                padding-bottom: 3vh;
            }
            .fa-instagram{
                font-size: 6em;
            }
            .fa-facebook{
                font-size: 5em;
            }
            .fa-whatsapp{
                position: fixed;
                right: 3vh;
                bottom: 10vh;
                font-size: 5em;
                color: #5dbd04;
                backdrop-filter: blur(10px);
            }
            .fa-circle-chevron-up{
                font-size: 3em;
            }
            .btnMailDir{
                address{
                    font-size: 2rem;
                    padding-top: 1vh;
                }
                .btn {
                    --bs-btn-font-size: 2rem;
                }
            }
        }
        /*.finalAutor{
            background-color: #d15eff;
            width: 100%;
            margin: 0;
            padding: 0;
            p{
                font-size: .7em;
                text-align: left;
            }
            .derechos{
                font-size: 1em;
                text-align: center;
                color: #fc1594;
            }
        }*/
    }
}